/*(1)清除默认样式*/
html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
  font-size: 16px;
}
fieldset,
img,
input,
button {
  border: 0 none;
  padding: 0;
  margin: 0;
  outline-style: none;
} /*去掉input等聚焦时的蓝色边框*/
ul,
li,
ol {
  list-style: none;
}
select,
input {
  vertical-align: middle;
}
/*select, input, textarea { font-size:12px; margin:0; }*/
textarea {
  resize: none;
} /*防止拖动*/
img {
  display: block;
  border: 0;
  /* vertical-align: middle; */
}
.export-arrow {
  position: absolute;
  right: 8px;
  top: 30%;
}
/*  去掉图片底侧默认的3像素空白缝隙，或者用display：block也可以*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  text-decoration: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
/*（2）添加公共样式*/
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", "微软雅黑",
    sans-serif;
}
body {
  line-height: 1;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}
html {
  overflow-y: scroll;
  position: relative;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  clear: both;
  zoom: 1;
}

/*公共类*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.ac {
  text-align: center;
}
.hide {
  display: none;
}
.f16 {
  font-size: 16px;
}
/*隐藏*/
/* div {
  box-sizing: border-box;
} */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input,
textarea {
  user-select: auto;
}
/* 对话弹窗公共样式 */

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1);
  opacity: 0.5;
  z-index: 1000;
  animation: change 0.5s;
}
@keyframes change {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.pointer,
.handle,
.el-range-input {
  cursor: pointer;
}
.swd-popper {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 10px 13px;
}
.el-icon-arrow-down:before {
  content: "\E78f";
}
.rotate {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
